In [1]:
import pandas as pd

In [14]:
cogstyleDf = pd.read_csv(r"Z:\Dropbox\CurrentClasses\graduate_project\CognitiveStyle\CognitiveStyle.csv",
                        index_col=False)
cogstyleDf

          LastName     FirstName  HIGH-3/MEDIUM-2/LOW-1  HIGH-1/LOW-0
0             Wang       Bernice                    3.0           1.0
1            Allen         Davis                    3.0           1.0
2           Wakaba           Ken                    1.0           0.0
3   Mobed-Miremadi        Maryam                    1.0           0.0
4             Yang      Yonghuan                    2.0           0.0
5             Suri          Dana                    3.0           1.0
6           Bergin         Riley                    3.0           1.0
7          Ramdoss  Balakrishnan                    2.0           0.0
8              Hsu      Yuan-lin                    2.0           1.0
9          D'Costa        Stefan                    2.0           0.0
10            Lund          Ryan                    3.0           1.0
11   Jaffe-Pickett        Carrie                    1.0           0.0
12          Cooper          Ryan                    2.0           0.0
13          Sharma        Tanmay                    2.0           0.0
14        Holliday        JoAnne                    1.0           0.0
15         Johnson     Christina                    1.0           0.0
16            Mott        Maddie                    2.0           0.0
17       Schiavone        Amanda                    2.0           0.0
18          Blanco       Matthew                    2.0           1.0
19           Gupta         Abhay                    3.0           1.0
20          Harris       Jessica                    1.0           0.0
21         Seiller         Emily                    1.0           0.0
22           Milan        Lionel                    2.0           0.0
23          Bouzos           Eva                    3.0           1.0
24         Carbone        Chiara                    1.0           0.0
25         Gacevic    Aleksandra                    2.0           1.0
26          Ferris         Jamie                    3.0           1.0
27            Hung       Jocelyn                    2.0           0.0
28           Hsieh        Olivia                    3.0           1.0
29             Tai        Andrea                    1.0           0.0
30        Hinrichs          Anna                    2.0           0.0
31           Darby        Taylor                    3.0           1.0
32         Fortini    Mary-Ellen                    2.0           0.0
33            Ross         Peter                    1.0           0.0
34         Nichols         Eliot                    2.0           0.0
35            Diaz        Alexis                    2.0           0.0
36      Schulhofer          Erin                    2.0           0.0
37            Zeid          Alia                    3.0           1.0
38            Pham         Peter                    2.0           1.0
39            Gunn       William                    2.0           1.0

In [22]:
import os

filepath = r"C:\Users\GamingAccount\Desktop\CollapsedWithAOI"
participant_id_list = [0] * len(cogstyleDf.index)
# participant_id_list = []

for file in os.listdir(filepath):
    if file.endswith("csv"):
        participant_id = ""
        for char in file:
            if char.isdigit():
                participant_id = "".join((participant_id, char))
        
        full_fp = os.path.join(filepath, file)
        df = pd.read_csv(full_fp, index_col=False)
        name = df["Name"][0].split(" ")
        last_name = name[1]
        first_name = name[0]
        
        lastname_df = cogstyleDf["LastName"]
        # Iterate through all last names
        for i in range(len(lastname_df)):
            name2 = lastname_df[i]
            if (name2 == last_name) and (first_name == cogstyleDf["FirstName"][i]):
                participant_id_list[i] = participant_id
                
print(len(participant_id_list))
cogstyleDf["ParticipantID"] = participant_id_list
cogstyleDf.to_csv("CognitiveStyleWithID.csv", index=False)
cogstyleDf

40

,LastName,FirstName,HIGH-3/MEDIUM-2/LOW-1,HIGH-1/LOW-0,ParticipantID
0,Wang,Bernice,3.0,1.0,0
1,Allen,Davis,3.0,1.0,0
2,Wakaba,Ken,1.0,0.0,0
3,Mobed-Miremadi,Maryam,1.0,0.0,0
4,Yang,Yonghuan,2.0,0.0,0
5,Suri,Dana,3.0,1.0,7
6,Bergin,Riley,3.0,1.0,8
7,Ramdoss,Balakrishnan,2.0,0.0,10
8,Hsu,Yuan-lin,2.0,1.0,11
9,D'Costa,Stefan,2.0,0.0,12
10,Lund,Ryan,3.0,1.0,13
11,Jaffe-Pickett,Carrie,1.0,0.0,14
12,Cooper,Ryan,2.0,0.0,0
13,Sharma,Tanmay,2.0,0.0,16
14,Holliday,JoAnne,1.0,0.0,17
15,Johnson,Christina,1.0,0.0,18
16,Mott,Maddie,2.0,0.0,19
17,Schiavone,Amanda,2.0,0.0,20
18,Blanco,Matthew,2.0,1.0,21
19,Gupta,Abhay,3.0,1.0,22
20,Harris,Jessica,1.0,0.0,24
21,Seiller,Emily,1.0,0.0,25
22,Milan,Lionel,2.0,0.0,26
23,Bouzos,Eva,3.0,1.0,27
24,Carbone,Chiara,1.0,0.0,28
25,Gacevic,Aleksandra,2.0,1.0,29
26,Ferris,Jamie,3.0,1.0,30
27,Hung,Jocelyn,2.0,0.0,31
28,Hsieh,Olivia,3.0,1.0,32
29,Tai,Andrea,1.0,0.0,33
30,Hinrichs,Anna,2.0,0.0,34
31,Darby,Taylor,3.0,1.0,35
32,Fortini,Mary-Ellen,2.0,0.0,36
33,Ross,Peter,1.0,0.0,50
34,Nichols,Eliot,2.0,0.0,51
35,Diaz,Alexis,2.0,0.0,52
36,Schulhofer,Erin,2.0,0.0,0
37,Zeid,Alia,3.0,1.0,0
38,Pham,Peter,2.0,1.0,0
39,Gunn,William,2.0,1.0,0